<html>
	<head>
		
	</head>
	<body>
		<h1>Testing Twig and Silex</h1>
		{{ title|raw }}
			
			<!-- 
			Twig for each stmt	
						 -->

	<!-- 		{% for t in title %}
			<li>{{ t.title }}</li>
			{% endfor %} -->

	</body>
</html>